<style>

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}


body {
    margin:0px;
}

header {
    margin: 0;
    padding: 0;
    display: block;
    flex-shrink: 0;
}

footer {
    margin: 0;
    padding: 0;
    display: block;
    flex-shrink: 0;
}

.all-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin:20px;
    padding:20px;
    flex: 1 0 auto;
}

.center {
    text-align:center;
}

.spaceline {
   padding-top:1px;
}

.spaceline10 {
   padding-top:10px;
}

.spaceline20 {
   padding-top:20px;
}

.spaceline25 {
   padding-top:25px;
}

.spaceline40 {
   padding-top:40px;
}

.spaceline50 {
   padding-top:50px;
}

.spaceline100 {
   padding-top:100px;
}

.container {
    position:relative;
    display:block;
    cursor:default;
    clear:both;
}


.row {
    width: 90%;
    margin:auto;
    position:relative;
    display:block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.col2{
    width:50%;
    float:left;
    padding:0px;
}

.col3{
    width:33%;
    float:left;
    padding:0px;
    text-align:center;
}

.col4{
    width:25%;
    float:left;
    padding:0px;
}

.col5{
    width:20%;
    float:left;
    padding:0px;
}

.colcontent{
    padding:5px;
}

</style>
